.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemons{
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
    color: white;
    border-radius: 1.2rem;
    cursor: pointer;
}


.pokemon .number{
    text-align: right;
    color: black;
    opacity: 0.4;
}
.pokemon .types{    
    padding: 0;
    margin: 0;
    list-style: none;

}
.pokemon .types li{    
    padding:.3rem .3rem;
    border-radius: 2rem;
    margin:0.3rem 1rem 0.3rem 0;
    font-size: .725rem;
    text-align: center;
    filter: brightness(1.1)
}
.pokemon .detail img{
    max-width: 100%;
    max-height: 5rem;
    align-self: flex-end;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .name{
   text-transform: capitalize;
   font-size: large;
   margin-bottom: 0.6rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

#LoadMoreButton{
    background-color: #77c850;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 14px;
    border-radius: 10%;
}

#LoadMoreButton:hover{
    background-color: #ff0000;
    color: black;
    border-color:#77c850 ;
}

#LoadLessButton{
    background-color: #ff0000;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 14px;
    border-radius: 10%;
}

#LoadLessButton:hover{
    background-color: #77c850;
    color: black;
    border-color:#77c850 ;
}
#pokeBlock{
    cursor: pointer;
}

#pokeDetail{
    z-index: 10;
}

.attributs{
    padding: 0;
}
.detailImg{
    width: 15rem;
}
.attributs li{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.attributs li .label{
    text-align: justify;
}
.attributs li h3{
    text-align: center;
    margin: 0;
}
#btnClose{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}
#pokeModalName{
    text-align: center;
    font-weight: 700;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
    }
    
}


@media screen and (max-width: 477px){
    .pokemons{
        grid-template-columns:  1fr;
    }
    .pokemon .detail img{
        max-width: 100%;
        max-height: 9rem;
        align-self: flex-end;
    }
    .display{
        display: none;
    }
}

@media screen and (min-width: 780px){
    .pokemons{
        grid-template-columns:  repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: repeat(4, 1fr);
    }
}